<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>add user</title>
</head>
<body>
	<h2>add user</h2>

	<form action="/user/add" method="post">
		username：<input type="text" name="username" />
		<br>
		password：<input type="password" name="password" />
		<br>
		name：<input type="text" name="name" />
		<br>
		age：<input type='number' name="age" />
		<br>
		sex：<input name="sex" type="radio" value="男" />男
			<input name="sex" type="radio" value="女" />女
		<br>
		tel：<input type="number" name="tel" />
		<br>
		<input type="submit" value="提交" />
	</form>
</body>
</html>