<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user list</title>
  </head>
  <body>
    <h2>user list</h2>

	<% userList.forEach(function(user){ %> 
		<form action="/user/update" method="post">
			username：<input type="text" name="username" readonly value=<%= user.username %> />
			<br>
			name：<input type="text" name="name" value=<%= user.name %> />
			<br>
			age：<input type='number' name="age" value=<%= user.age %> />
			<br>
			sex：<%= user.sex %>
			<br>
			tel：<input type="number" name="tel" value=<%= user.tel %> />
			<br>
			<input type="submit" value="更新数据" />
		</form>
		<br><br>
	<% })%>
  </body>
</html>
